 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white" aria-current="page" routerLink="">Create Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/list">Appointment List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->